version: '3.8'

services:
  db:
    image: postgres:16-alpine
    container_name: fleet_control_db
    restart: always
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: fleetcontrol
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
  
volumes:
  postgres_data:
    driver: local